 body {
    margin: 0;
    background: #000; 
  }
  video { 
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
   background: url('') no-repeat;
    background-size: cover;
    transition: 1s opacity;
  }

  #img_profile {
      margin: 125px auto;
      width: 500px;
      height: auto;
      display: block;
      border-radius: 15px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: 30px 30px inset; */
  }